<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet/less" type="text/css" href="css/styles.less">
    <script src="vendor/less-js/less.min.js" type="text/javascript"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div class="vue-container">
        <div id="public-or-private" class="button-container">
            <div>
                <button class="button" @click="displayPublicGames">Join Public Game</button>
            </div>
            <div>
                <button class="button" @click="displayPrivateGames">Create Private Game</button>
            </div>
        </div>
        <div id="public-table" class="button-container" style="display:none;">
            <div>
                <button class="back-button" @click="displayPublicOrPrivate"><span>Back</span></button>
            </div>
            <div>
                <button class="button" @click="joinTable" value="1">Join Table 1</button>
            </div>
            <div>
                <button class="button" @click="joinTable" value="2">Join Table 2</button>
            </div>
        </div>
        <div id="table" class="table" style="display:none;">
            <div class="card-place">
                <card v-for="(card, index) in communityCards" :card="card"></card>
            </div>
            <div class="players">
                <div v-for="(value, index) in players" class="player"
                    :class="['player-' + (index + 1), {'playing': playerTurn === index}]">
                    <div class="bank">
                        <div class="bank-value">{{ value.bank }}</div>
                        <div class="chips v-500" v-if="value.bank / 500 >= 1"></div>
                        <div class="chips v-100" v-if="(value.bank % 500) / 100 >= 1"></div>
                        <div class="chips v-25" v-if="((value.bank % 500) % 100) / 25 >= 1"></div>
                        <div class="chips v-10" v-if="(((value.bank % 500) % 100) % 25) / 10 >= 1"></div>
                        <div class="chips v-5" v-if="((((value.bank % 500) % 100) % 25) % 10) / 5 >= 1"></div>
                        <div class="chips v-1" v-if="(((((value.bank % 500) % 100) % 25) % 10) % 5) >= 1"></div>
                    </div>
                    <div class="avatar" :style="{backgroundColor: value.color || 'dodgerblue'}"></div>
                    <div class="name">{{value.name}}</div>
                    <div class="bet">
                        <div class="bet-value">
                            {{ value.onTable }}
                        </div>
                        <div class="chip-500">
                            <div class="chips v-500" v-for="(n, i) in ((value.onTable - (value.onTable % 500)) / 500)"
                                :style="{top: (-2 + (i * 5)) + 'px'}" v-if="(value.onTable) / 500 >= 1"></div>
                        </div>
                        <div class="chip-100">
                            <div class="chips v-100"
                                v-for="(n, i) in (((value.onTable % 500) - ((value.onTable % 500) % 100)) / 100)"
                                :style="{top: (-2 + (i * 5)) + 'px'}" v-if="((value.onTable) % 500) / 100 >= 1"></div>
                        </div>
                        <div class="chip-25">
                            <div class="chips v-25"
                                v-for="(n, i) in ((((value.onTable % 500) % 100) - (((value.onTable % 500) % 100) % 25)) / 25)"
                                :style="{top: (-2 + (i * 5)) + 'px'}" v-if="(((value.onTable) % 500) % 100) / 25 >= 1">
                            </div>
                        </div>
                        <div class="chip-10">
                            <div class="chips v-10"
                                v-for="(n, i) in (((((value.onTable % 500) % 100) % 25) - ((((value.onTable % 500) % 100) % 25) %10)) / 10)"
                                :style="{top: (-2 + (i * 5)) + 'px'}"
                                v-if="((((value.onTable) % 500) % 100) % 25) / 10 >= 1"></div>
                        </div>
                        <div class="chip-5">
                            <div class="chips v-5"
                                v-for="(n, i) in ((((((value.onTable % 500) % 100) % 25) %10) - (((((value.onTable % 500) % 100) % 25) %10) % 5)) / 5)"
                                :style="{top: (-2 + (i * 5)) + 'px'}"
                                v-if="(((((value.onTable) % 500) % 100) % 25) % 10) / 5 >= 1"></div>
                        </div>
                        <div class="chip-1">
                            <div class="chips v-1" v-for="(n, i) in (((((value.onTable % 500) % 100) % 25) %10) % 5)"
                                :style="{top: (-2 + (i * 5)) + 'px'}"
                                v-if="(((((value.onTable % 500) % 100) % 25) %10) % 5) >= 1"></div>
                        </div>
                    </div>
                    <div class="hand">
                        <card v-for="(card, index) in value.hand" :card="card"></card>
                    </div>
                </div>
            </div>
        </div>
        <div id="player-moves" class="button-container" style="display:none;">
            <div>
                <button id="back-button" class="back-button" style="width: 208px;" @click="leaveTable"><span>Leave
                        Table</span></button>
            </div>
            <button id="play-button" class="button" style="--content: '\21D3'; --padding: 15px; width: 100px;"
                @click="startPlaying"><span>Play</span></button>
            <button id="spectate-button" class="button" style="--content: '\21D1'; --padding: 15px; width: 100px;"
                @click="startSpectating"><span>Spectate</span></button>
            <div>
                <button id="fold-button" class="button"
                    style="--content: '\2716'; --padding: 25px; background-color: #4CAF50; width: 208px;"
                    @click="fold"><span>Fold</span></button>
            </div>
            <div>
                <button id="check-button" class="button"
                    style="--content: '\2714'; --padding: 25px; background-color: #4CAF50; width: 100px;"
                    @click="check"><span>Check</span></button>
                <button id="call-button" class="button" :style="callStyle" @click="call"><span>Call</span></button>
            </div>
            <div>
                <input type="number" pattern="[0-9]" id="raise-amount" class="raise-amount" v-model="amount" step="25"
                    min="25" placeholder="Amount" required>
                <button id="raise-button" class="button" :style="raiseStyle" @click="raise"><span>Raise</span></button>
            </div>
        </div>
    </div>
    <script>
        var socket = io();

        Vue.component('card', {
            template: `<div class="card" :class="['suits-' + card.suit, 'values-' + card.value]">
		            <h1>{{card.value}}</h1>
	            	<div class="suits" :class="card.suit"></div>
		            <h1>{{card.value}}</h1>
	            </div>`,
            props: ['card']
        });

        let app = new Vue({
            el: '.vue-container',
            data: {
                playerTurn: 0,
                players: [],
                communityCards: [],
                amount: 25,
                callAmount: 0
            },
            computed: {
                callStyle() {
                    var padding = 25 + (this.callAmount.toString().length - 1) * 7
                    return "--content: '$" + this.callAmount + "'; --padding: " + padding + "px; background-color: #4CAF50; width: 100px;";
                },
                raiseStyle() {
                    var padding = 25 + (this.amount.toString().length - 1) * 7
                    return "--content: '$" + this.amount + "'; --padding: " + padding + "px; background-color: #4CAF50; width: 100px;";
                }
            },
            methods: {
                displayPublicOrPrivate: function (event) {
                    document.getElementById('public-or-private').style.display = 'inline-block';
                    document.getElementById('public-table').style.display = 'none';
                    document.getElementById('table').style.display = 'none';
                    document.getElementById('player-moves').style.display = 'none';
                },

                displayPublicGames: function (event) {
                    document.getElementById('public-or-private').style.display = 'none';
                    document.getElementById('public-table').style.display = 'inline-block';
                    document.getElementById('table').style.display = 'none';
                    document.getElementById('player-moves').style.display = 'none';
                },

                displayPrivateGames: function (event) {
                    console.log('create_private');
                },

                leaveTable: function (event) {
                    document.getElementById('public-or-private').style.display = 'none';
                    document.getElementById('public-table').style.display = 'inline-block';
                    document.getElementById('table').style.display = 'none';
                    document.getElementById('player-moves').style.display = 'none';
                    socket.emit('leaveTable');
                },

                joinTable: function (event) {
                    document.getElementById('public-or-private').style.display = 'none';
                    document.getElementById('public-table').style.display = 'none';
                    document.getElementById('table').style.display = 'inline-block';
                    document.getElementById('player-moves').style.display = 'inline-block';
                    socket.emit('joinTable', {
                        table: event.srcElement.value
                    });
                },

                startPlaying: function (event) {
                    socket.emit('startPlaying');
                },

                startSpectating: function (event) {
                    socket.emit('startSpectating');
                },

                raise: function (event) {
                    socket.emit('raise', {
                        amount: this.amount
                    });
                },

                call: function (event) {
                    socket.emit('call');
                },

                check: function (event) {
                    socket.emit('check');
                },

                fold: function (event) {
                    socket.emit('fold');
                }
            }
        });

        socket.on('gameState', function (data) {
            app.players = data.players;
            app.communityCards = data.communityCards;
            app.playerTurn = data.playerTurn;

            if (!data.thisPlayer) {
                document.getElementById('play-button').classList.remove('disabled');
                document.getElementById('spectate-button').classList.add('disabled');
                document.getElementById('raise-button').classList.add('disabled');
                document.getElementById('raise-amount').disabled = true;
                document.getElementById('call-button').classList.add('disabled');
                document.getElementById('check-button').classList.add('disabled');
                document.getElementById('fold-button').classList.add('disabled');
            }
            else {
                app.callAmount = data.currentBet - data.thisPlayer.chipsOnTable;
                document.getElementById('play-button').classList.add('disabled');
                document.getElementById('spectate-button').classList.remove('disabled');

                if (data.playerTurn != null && data.players[data.playerTurn] != null && data.players[data.playerTurn].name == data.thisPlayer.name) {
                    document.getElementById('fold-button').classList.remove('disabled');
                    document.getElementById('raise-amount').disabled = false;
                    if (data.currentBet > data.thisPlayer.chipsOnTable) {
                        document.getElementById('check-button').classList.add('disabled');
                        document.getElementById('call-button').classList.remove('disabled');
                    }
                    else {
                        document.getElementById('check-button').classList.remove('disabled');
                        document.getElementById('call-button').classList.add('disabled');
                    }

                    if (app.amount != null && app.amount > (data.currentBet - data.thisPlayer.chipsOnTable)) {
                        document.getElementById('raise-button').classList.remove('disabled');
                    }
                    else {
                        document.getElementById('raise-button').classList.add('disabled');
                    }
                }
                else {
                    document.getElementById('raise-button').classList.add('disabled');
                    document.getElementById('raise-amount').disabled = true;
                    document.getElementById('call-button').classList.add('disabled');
                    document.getElementById('check-button').classList.add('disabled');
                    document.getElementById('fold-button').classList.add('disabled');
                }
            }
        });
        socket.on('rateLimit', function (data) {
            alert("Too many requests! Try again in " + data.wait + " ms.");
        });
    </script>
</body>

</html>