<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet/less" type="text/css" href="css/styles.less">
    <script src="vendor/less-js/less.min.js" type="text/javascript"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div class="vue-container">
        <!-- The Modal -->
        <div id="alertModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>{{ alertHeader }}</h2>
                </div>
                <div class="modal-body">
                    <p>{{ alertBody }}</p>
                </div>
                <div class="modal-footer">
                    <h3></h3>
                </div>
            </div>
        </div>
        <div id="public-table" class="button-container">
            <div v-for="index in 25" :index="index">
                <button class="button" @click="joinTable" :value="index">Join Table {{ index }}</button>
            </div>
            <form action="/logout" method="POST">
                <input type="submit" class="back-button" style="width: 208px; background-color: #f44336;"
                    value="Logout">
            </form>
        </div>
        <div id="table" class="table" style="display:none;">
            <div class="card-place">
                <card v-for="(card, index) in communityCards" :card="card"></card>
            </div>
            <div class="players">
                <div v-for="(value, index) in players" class="player"
                    :class="['player-' + (index + 1), {'playing': playerTurn === index}]">
                    <div class="bank">
                        <div class="bank-value">{{ value.bank }}</div>
                        <div class="chips v-500" v-if="value.bank / 500 >= 1"></div>
                        <div class="chips v-100" v-if="(value.bank % 500) / 100 >= 1"></div>
                        <div class="chips v-25" v-if="((value.bank % 500) % 100) / 25 >= 1"></div>
                        <div class="chips v-10" v-if="(((value.bank % 500) % 100) % 25) / 10 >= 1"></div>
                        <div class="chips v-5" v-if="((((value.bank % 500) % 100) % 25) % 10) / 5 >= 1"></div>
                        <div class="chips v-1" v-if="(((((value.bank % 500) % 100) % 25) % 10) % 5) >= 1"></div>
                    </div>
                    <div class="avatar" :style="{backgroundColor: value.color || 'dodgerblue'}"></div>
                    <div class="name">{{value.name}}</div>
                    <div class="bet">
                        <div class="bet-value">
                            {{ value.onTable }}
                        </div>
                        <div class="chip-500">
                            <div class="chips v-500" v-for="(n, i) in ((value.onTable - (value.onTable % 500)) / 500)"
                                :style="{top: (-2 + (i * 5)) + 'px'}" v-if="(value.onTable) / 500 >= 1"></div>
                        </div>
                        <div class="chip-100">
                            <div class="chips v-100"
                                v-for="(n, i) in (((value.onTable % 500) - ((value.onTable % 500) % 100)) / 100)"
                                :style="{top: (-2 + (i * 5)) + 'px'}" v-if="((value.onTable) % 500) / 100 >= 1"></div>
                        </div>
                        <div class="chip-25">
                            <div class="chips v-25"
                                v-for="(n, i) in ((((value.onTable % 500) % 100) - (((value.onTable % 500) % 100) % 25)) / 25)"
                                :style="{top: (-2 + (i * 5)) + 'px'}" v-if="(((value.onTable) % 500) % 100) / 25 >= 1">
                            </div>
                        </div>
                        <div class="chip-10">
                            <div class="chips v-10"
                                v-for="(n, i) in (((((value.onTable % 500) % 100) % 25) - ((((value.onTable % 500) % 100) % 25) %10)) / 10)"
                                :style="{top: (-2 + (i * 5)) + 'px'}"
                                v-if="((((value.onTable) % 500) % 100) % 25) / 10 >= 1"></div>
                        </div>
                        <div class="chip-5">
                            <div class="chips v-5"
                                v-for="(n, i) in ((((((value.onTable % 500) % 100) % 25) %10) - (((((value.onTable % 500) % 100) % 25) %10) % 5)) / 5)"
                                :style="{top: (-2 + (i * 5)) + 'px'}"
                                v-if="(((((value.onTable) % 500) % 100) % 25) % 10) / 5 >= 1"></div>
                        </div>
                        <div class="chip-1">
                            <div class="chips v-1" v-for="(n, i) in (((((value.onTable % 500) % 100) % 25) %10) % 5)"
                                :style="{top: (-2 + (i * 5)) + 'px'}"
                                v-if="(((((value.onTable % 500) % 100) % 25) %10) % 5) >= 1"></div>
                        </div>
                    </div>
                    <div class="hand">
                        <card v-for="(card, index) in value.hand" :card="card"></card>
                    </div>
                </div>
            </div>
        </div>
        <div id="player-moves" class="button-container" style="display:none;">
            <div>
                <button id="back-button" class="back-button" style="width: 208px;" @click="leaveTable"><span>Leave
                        Table</span></button>
            </div>
            <button id="play-button" class="button" style="--content: '\21D3'; --padding: 15px; width: 100px;"
                @click="startPlaying"><span>Play</span></button>
            <button id="spectate-button" class="button" style="--content: '\21D1'; --padding: 15px; width: 100px;"
                @click="startSpectating"><span>Spectate</span></button>
            <div>
                <button id="fold-button" class="button"
                    style="--content: '\2716'; --padding: 25px; background-color: #4CAF50; width: 208px;"
                    @click="fold"><span>Fold</span></button>
            </div>
            <div>
                <button id="check-button" class="button"
                    style="--content: '\2714'; --padding: 25px; background-color: #4CAF50; width: 100px;"
                    @click="check"><span>Check</span></button>
                <button id="call-button" class="button" :style="callStyle" @click="call"><span>Call</span></button>
            </div>
            <div>
                <input type="number" pattern="[0-9]" id="raise-amount" class="raise-amount" v-model="amount" step="25"
                    min="25" placeholder="Amount" required>
                <button id="raise-button" class="button" :style="raiseStyle" @click="raise"><span>Raise</span></button>
            </div>
            <textarea id="log-box" readonly></textarea>
            <form action="/logout" method="POST">
                <input type="submit" class="back-button" style="width: 208px; background-color: #f44336;"
                    value="Logout">
            </form>
        </div>
    </div>
</body>

<script src="js/poker.js"></script>

</html>